:root {
    --primary: #f7ebf8;
    --secondary: #c9a7bf;
    --dark: #45092c;  
    --border-radius: 0.3rem;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}